<option value="bairro" selected="selected">bairro</option>
<?php foreach($bairros as $b){ ?>
<option value="<?php echo utf8_encode($b["tb_imoveis"]["f_bairro"]); ?>"><?php echo utf8_encode($b["tb_imoveis"]["f_bairro"]); ?></option>
<?php } ?>
