body {
    font-family: "arial";
}
.oculto{
    display: none !important;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.coluna {
    float: left;
}
.clear {
    clear: left;
}
.pagina {
    width: 970px;
    margin: 0 auto;
}
#header_principal {
    height: 144px;
}
#header_principal .logo{
    margin: 24px 20px 0 43px;
    float: left;
}
#header_principal .logodezanos{
    margin: 24px 20px 0 43px;
    float: left;
}
#header_principal .telefones{
	float: left;
	margin-top: 40px;
	margin-right: 110px;
	margin-bottom: 0;
	margin-left: 110px;
}
#header_principal .chat{
    margin: 24px 10px 0 20px;
    float: left;
}
#header_principal .face{
    margin: 24px 20px 0 10px;
    float: left;
}
#menu_secundario ul li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #ccc;
    height: 27px;
    margin-top: 42px;
}
#menu_secundario ul li.primeiro{
    margin-top: 27px;
}
#menu_secundario ul li.sem_borda {
    border: none;
}
#menu_secundario ul li a .imagem{
    display: block;
    background-image: url("../img/sprite.png");
    float: right;
}
#menu_secundario ul li span.atendimento_online{
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -3px -4px;
    width: 115px;
    height: 54px;
}
#menu_secundario ul li a.chat .imagem{
    width: 29px;
    height: 29px;
    background-position: -215px -74px;
}
#menu_secundario ul li a.email .imagem{
    width: 38px;
    height: 33px;
    background-position: -256px -73px;
}
#menu_secundario ul li a.plantao .imagem{
    width: 26px;
    height: 28px;
    background-position: -307px -77px;
    margin-top: 3px;
}
#menu_secundario ul li a.ligamos .imagem{
    width: 22px;
    height: 30px;
    background-position: -347px -75px;
}
#menu_secundario ul li a{
    color:#B3B3B3;
}
#menu_secundario ul li a:hover{
    text-decoration: none;
}
#menu_secundario ul li a span{
    display: block;
}
#menu_secundario ul li a span.pequeno {
    font-size: 0.6em;
    font-weight: bold;
}
#menu_secundario ul li a span.grande {
    font-size: 1.1em;
    font-weight: bold;
}
#menu_secundario ul li a{
    display: block;
}
#menu_secundario ul li a.chat{
    width: 100px;
}
#menu_secundario ul li a.email{
    width: 106px;
}
#menu_secundario ul li a.plantao{
    width: 121px;
}
#menu_secundario ul li a.ligamos{
    width: 113px;
}
#menu_principal {
    clear: left;
    padding: 19px 0 0 21px;
}
#menu_principal>ul>li>a {
    color:#603813;
    font-weight: bold;
    font-size: 0.8em;
    text-shadow: #fff 1px 1px;
}
#menu_principal>ul>li>a:hover {
    color:#FF931E;
    text-decoration:none;
}
#menu_principal>ul>li{
    float:left;
    padding: 7px 23px 0 24px;
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    height: 27px;
    margin-top: 2px;
}
#menu_principal>ul>li.primeiro{
    border-left: none;
}
#menu_principal>ul>li.ultimo{
    border-right: none;
}
#menu_principal .canto_esquerdo, #menu_principal .canto_direito, #menu_principal>ul {
    float: left;
}
#menu_principal .canto_esquerdo {
    width: 6px;
    height: 37px;
    background-image: url("../img/menu_principal_esquerda.png");
    display:  block;
}
#menu_principal .canto_direito {
    width: 6px;
    height: 37px;
    background-image: url("../img/menu_principal_direita.png");
    display:  block;
}
#menu_principal>ul {
    width: 913px;
    height: 37px;
    display: block;
    background-image: url("../img/menu_principal.png");
    background-repeat: repeat-x;
}
#menu_principal .submenu, #menu_principal .submenu2, #menu_principal .submenu3{
    display: none;
}
#menu_principal ul li .submenu {
    margin: 12px 0 0 -34px;
}
#menu_principal ul li .submenu .submenu2,  #menu_principal ul li .submenu .submenu3{
    margin: -37px 0 0 161px;
}
#menu_principal>ul>li .submenu, #menu_principal>ul>li .submenu2,  #menu_principal>ul>li .submenu3{
    position: absolute;
    z-index: 15;
    border: 3px solid #fff;
}
#menu_principal>ul>li .submenu>ul, #menu_principal>ul>li .submenu2>ul, #menu_principal>ul>li .submenu3>ul{
    border: 2px solid #999;
}
#menu_principal>ul>li ul li a {
    width: 159px;
    height: 32px;
    display: block;
    color:#4D4D4D;
    font-weight: bold;
    font-size: 0.7em;
    background-image: url("../img/submenu.png");
}
#menu_principal>ul>li ul li a:hover {
    color:#fff;
    text-decoration:none;
    background-position: bottom;
}
#menu_principal>ul>li .submenu>ul>li>a>.seta {
    width: 28px;
    height: 29px;
    border-left: 1px solid #fff;
    background-image: url("../img/sprite.png");
    background-position: -6px -68px;
    display: block;
    float: right;
}
#menu_principal>ul>li .submenu>ul>li>a:hover>.seta {
    background-position: -5px -99px;
    border-left: 1px solid #FFC183;
}
#menu_principal>ul>li .submenu>ul>li>a>.tem_submenu{
    display: block;
    border-right: 1px solid #E6E6E6;
    width: 113px;
    height: 19px;
    padding: 10px 0 0 16px;
}
#menu_principal>ul>li .submenu>ul>li>a:hover>.tem_submenu{
    border-right: 1px solid #FF931E;
}
#menu_principal>ul>li .submenu .submenu2 a, #menu_principal>ul>li .submenu .submenu3 a{
    padding: 10px 0 0 16px;
    width: 143px;
    height: 22px;
}
#busca {
    clear:left;
    float: right;
    width: 239px;
    margin: 35px 36px 0 0;
}
#busca h2, #busca h3 {
    color: #603813;
    font-weight: bold;
}
#busca h3 {
    font-size: 0.9em;
}
#busca select {
    position: absolute;
    display: none;
}
#busca h3, #busca h2{
    height: 26px;
    clear: left;
}
#busca .linha_formulario {
    height: 37px;
    clear: left;
}
#busca .coluna2 {
    margin-left: 5px;
}
#busca label {
    cursor: pointer;
    background-image: url("../img/sprite.png");
    display: block;
    color:#666;
    font-size: 0.8em;
    padding: 5px 0 0 7px;
}
#busca .extra label{
    background: none;
    display: inline;
    padding: 0;
    font-size: 0.7em;
}
#busca .extra .coluna{
    padding-left: 9px;
}
#busca .extra input[type=radio]{
    margin-right: 0;
}
#busca label.formatacao2{
    width: 105px;
    height: 17px;
    background-position: -205px -4px;
}
#busca label.formatacao3{
    width: 222px;
    height: 17px;
    background-position: -205px -32px;
}
#codigo_busca {
    background-image: url("../img/sprite.png");
    display: block;
    color:#666;
    font-size: 0.8em;
    padding: 0px 0 0 7px;
    width: 105px;
    height: 22px;
    background-position: -322px -4px;
    border: 0;
}
#busca label.btn_buscar{
    float: right;
    width: 93px;
    height: 47px;
    background-position: -514px -153px;
    padding: 0;
}
#busca label.btn_buscar:active{
    background-position: -514px -202px;
}
#busca label.btn_buscar input {
    background: none;
    border: 0;
    color: #fff;
    font-family: arial;
    font-size: 1.2em;
    margin: 11px 0 0 12px;
    font-weight: bold;
    cursor: pointer;
}

#cidade_busca{
    width: 228px;
}

#dormitorios_busca{
    width: 110px;
}

#garagem_busca{
    width: 110px;
}

#valor_ate_busca{
    width: 112px;
}

#valor_de_busca {
    width: 112px;
}

#tipo_busca {
    width: 112px;
}


.divisoria1 {
    display: block;
    height: 8px;
    background-color: #F2F2F2;
    padding-top: 5px;
    margin-top: 63px;
}
.divisoria1 .divisoria2 {
    display: block;
    height: 8px;
    background-image: url("../img/divisoria.png");
}
.divisoria1.sem_espaco {
    margin-top: 0;
}
#conteudo {
    background-color: #F2F2F2;
    padding-top: 26px;
}
.imovel {
    width: 298px;
    height: 304px;
    float: left;
    margin: 0 0 0 23px;
}
.imovel .imagem {
    padding: 7px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 282px;
    height: 239px;
}
.imovel .selo {
    position: absolute;
    display: block;
    background-image: url("../img/sprite.png");
}
.imovel .selo_ofertas{
    width: 83px;
    height: 92px;
    background-position: -107px -166px;
    margin: -8px 0 0 -6px;
}
.imovel .selo_lancamentos{
    width: 84px;
    height: 92px;
    background-position: -307px -166px;
    margin: -8px 0 0 -6px;
}
.imovel .selo_construtora{
    width: 83px;
    height: 92px;
    background-position: -407px -166px;
    margin: -8px 0 0 -7px;
}
.imovel .selo_condominios{
    width: 83px;
    height: 92px;
    background-position: -8px -166px;
    margin: -8px 0 0 -6px;
}
.imovel .selo_luxo{
    width: 83px;
    height: 92px;
    background-position: -206px -166px;
    margin: -8px 0 0 -8px;
}
.imovel .selo_gramado{
    width: 83px;
    height: 92px;
    background-position: -823px -217px;
    margin: -8px 0 0 -8px;
}
.imovel .selo_canela{
    width: 83px;
    height: 92px;
    background-position: -733px -217px;
    margin: -8px 0 0 -8px;
}
.imovel .informacoes {
    width: 169px;
    height: 274px;
    position: absolute;
    margin: -9px 0 0 129px;
    background-image: url("../img/imovel.png");
}
.imovel .sombra {
    width: 9px;
    height: 278px;
    background-image: url("../img/sombra_imovel.png");
    display: block;
    margin-left: -9px;
    position: absolute;
}
.imovel h3{
    font-weight: bold;
    text-align: right;
    padding: 22px 12px 0 11px;
    font-size: 0.9em;
    height: 47px;
    color:#333;
}
.imovel h3 a{
    color:#333333;
}
.imovel p{
    color:#808080;
    padding: 0 12px 18px 11px;
    font-size: 0.72em;
    text-align: justify;
    line-height: 1.2em;
}
.imovel .linha_horizontal{
    width: 156px;
    height: 3px;
    display: block;
    background-image: url("../img/linha_horizontal.png");
    margin-left: 10px;
}
.imovel .linha_horizontal2{
    width: 147px;
    height: 3px;
    display: block;
    background-image: url("../img/linha_horizontal.png");
    margin-left: 19px;
}
.imovel .cidade {
    color: #333;
    font-size: 0.75em;
    padding: 7px 16px 7px 0;
    text-align: right;
    display: block;
    font-weight: bold;
}
.imovel .informacoes>a {
    color:#333;
    font-size: 0.8em;
    text-align: right;
    padding: 14px 10px 0 0;
    display: block;
    line-height: 24px;
}
.imovel .informacoes>a .seta{
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -258px -126px;
    float: right;
    margin-left: 7px;
}
#aside {
    float: left;
}
#previsao_do_tempo, #indicadores, #divisao_previsao_indicadores {
    width: 312px;
    text-align: center;
    display: block;
}
#previsao_do_tempo h5, #indicadores h5 {
    color:#808080;
    text-shadow: #fff 1px 1px;
}
#previsao_do_tempo .icone{
    width: 66px;
    height: 65px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -383px -61px;
    margin: 0 auto;
}
.caixa {
    width: 192px;
    background-image: url("../img/gradiente_caixa.png");
    border: #E6E6E6 1px solid;
    margin: 8px auto 0 auto;
    font-size: 0.9em;
}
.caixa, .caixa a{
    color:#754C24;
}
#previsao_do_tempo .caixa {
    padding-top: 13px;
    height: 30px;
}
#indicadores .icone{
    width: 57px;
    height: 46px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -453px -72px;
    margin: 0 auto;
}
#indicadores .caixa {
    padding-top: 5px;
    height: 38px;
}
#divisao_previsao_indicadores {
    margin-top: 19px;
}
#divisao_previsao_indicadores .esquerda{
    width: 106px;
    height: 3px;
    display: block;
    float: left;
    background-image: url("../img/linha_horizontal.png");
}
#divisao_previsao_indicadores .direita{
    width: 106px;
    height: 3px;
    display: block;
    float: right;
    background-image: url("../img/linha_horizontal.png");
}
#aside {
    margin: -10px 0 0 14px;
}
footer {
    clear:left;
    background-image: url("../img/rodape.png");
    background-position: bottom;
    background-repeat: repeat;
}
footer nav {
    height: 49px;
    background-image: url("../img/menu_rodape.png");
}
footer nav ul {
    padding: 11px 0 0 36px;
}
footer nav ul li{
    float: left;
    padding: 0 32px;
    background-image: url("../img/linhas_menu_rodape.png");
    background-repeat: repeat-y;
    background-position: right;
    height: 36px;
}
footer nav ul li.ultimo{
    background-image: none;
}
footer nav ul li a{
    color:#fff;
    font-weight: bold;
    font-size: 0.7em;
    padding-top: 13px;
    display: block;
}
footer>.pagina, footer>.pagina a {
    color:#808080;
    text-shadow: #fff 1px 1px;
}
footer .linha_vertical, footer .lojas, footer .mais_acessados, footer .acompanhe, #assinatura{
    float: left;
}
footer>.pagina h5{
    font-size: 0.8em;
    font-weight: bold;
    padding: 17px 0;
}
footer .linha_vertical{
    width: 2px;
    height: 96px;
    display: block;
    background-image: url("../img/linha_vertical.png");
    margin-top: 27px;
}
footer .lojas {
    padding: 0 22px 0 79px;
}
footer .lojas dt{
    font-weight: bold;
    font-size: 0.8em;
}
footer .lojas dt.espaco1{
    margin-top: 9px;
}
footer .lojas dd{
    font-size: 0.72em;
}
footer .mais_acessados {
    padding: 0 50px 0 45px;
}
footer .mais_acessados ul {
    width: 119px;
    font-size: 0.8em;
    margin-left: -5px;
}
footer .mais_acessados ul li{
    float: left;
    padding-left: 5px;
}
footer .mais_acessados a[title=Lançamentos], footer .mais_acessados a[title=Gramado], footer .mais_acessados a[title=Canela]{
    font-size: 1.3em;
}
footer .mais_acessados a[title=Ofertas]{
    font-size: 1.1em;
}
footer .mais_acessados a[title=Casa]{
    font-size: 0.95em;
}
footer .mais_acessados a[title=Porto-Alegre], footer .mais_acessados a[title=Clima]{
    font-size: 0.8em;
}
footer .mais_acessados a[title=Apartamentos]{
    font-size: 0.6em;
}
footer .acompanhe {
    padding: 0 20px;
}
footer .acompanhe h5{
    text-align: center;
    width: 185px;
}
#acompanhe {
    margin-left: 46px;
}
#acompanhe li{
    float: left;
    width: 43px;
}
#acompanhe a[title=Twitter]{
    width: 43px;
    height: 44px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -55px -67px;
}
#acompanhe a[title=Facebook]{
    width: 43px;
    height: 44px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -104px -67px;
}
#acompanhe .mac{
    width: 43px;
    height: 44px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -153px -68px;
}
#caixa_mac {
    width: 173px;
    height: 29px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -39px -119px;
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 13px 0 0 15px;
    margin-left: -103px;
}
#assinatura{
    width: 43px;
    height: 16px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -137px -29px;
    margin: 65px 0 0 51px;
}
nav.paginacao {
    clear: left;
    padding: 37px 0;
}
nav.paginacao ul {
    width: 362px;
    height: 23px;
    margin: 0 auto;
}
nav.paginacao ul.largura1 {
    width: 52px;
}
nav.paginacao .tres_pontos_esquerda, nav.paginacao .tres_pontos_direita{
    position: absolute;
    display: block;
    width: 10px;
    height: 3px;
    background-image: url("../img/sprite.png");
    background-position: -547px -139px;
}
nav.paginacao .tres_pontos_esquerda{
    margin: 13px 0 0 421px;
}
nav.paginacao .tres_pontos_direita{
    margin: 13px 0 0 542px;
}
nav.paginacao ul li{
    float: left;
    width: 22px;
    height: 18px;
    background-image: url("../img/sprite.png");
    background-position: -563px -125px;
    margin-left: 4px;
    font-size: 0.8em;
    text-align: center;
    padding-top:5px;
}
nav.paginacao ul li.anterior{
    width: 76px;
    background-position: -519px -74px;
    padding-left: 6px;
}
nav.paginacao ul li.espaco_pontos{
    margin-left: 21px;
}
nav.paginacao ul li.proxima{
    width: 76px;
    background-position: -519px -101px;
    padding-right: 6px
}
nav.paginacao ul li.atual{
    background-position: -520px -125px;
}
nav.paginacao ul li a{
    color:#666;
}
nav.paginacao ul li a:hover{
    text-decoration: none;
}
nav.paginacao ul li.atual a{
    color:#fff;
}
#banners {
    position: relative;
    width: 630px;
    height: 308px;
    border: 2px solid #B3B3B3;
    clear: left;
    overflow: hidden;
    margin: 23px 0 0 34px;
}
#banners ul#fotos_home {
    position: absolute;
    width: 2520px;
    height: 308px;
}
#banners ul#fotos_home li.slidesjs-slide {
    float: left;
    width: 630px;
    height: 308px;
    z-index: 1!important;
}
#banners img {
    border: 2px solid #754C24;
    margin: 8px 0 0 8px;
}
#banners ul#fotos_home li.slidesjs-slide a{
    height: 300px;
    display: block;
}
#banners ul#fotos_home li.slidesjs-slide a div {
    width: 395px;
    height: 67px;
    background-image: url("../img/preto_transparente.png");
    color:#fff;
    text-align: right;
    position: absolute;
    margin: 225px 0 0 225px;
}
#banners h4 {
    margin-top: 6px;
}
#banners p {
    font-size: 0.8em;
    margin: 3px 0;
}
#banners span {
    font-size: 0.7em;
}
#banners h4, #banners p, #banners span {
    margin-right: 15px;
}
#banners .slidesjs-previous{
   margin: 8px 0 0 8px;
}
#banners .slidesjs-container {
    height: 292px !important;
}
#banners .slidesjs-pagination {
    position: absolute !important;
    margin-top: 2px;
    width: 338px;
    height: 50px;
    margin: 1px 0 0 15px;
    z-index: 10;
}
#banners .slidesjs-pagination li {
    float: left;
}
#banners .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url("../img/pagination.png");
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

#banners .slidesjs-pagination li a.active, #banners .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px;
}

#banners .slidesjs-navigation{
    display: block;
    width: 50px;
    height: 50px;
    background: url("../img/arrows.png") no-repeat;
    text-indent: -9999px;
    border: 0;
    z-index: 11;
    position: absolute;
    margin: -170px 0 0 12px;
    }
#banners .slidesjs-next.slidesjs-navigation {
    margin-left: 520px;
    background-position: -50px 0px;
    margin: -170px 0 0 565px;
}

.endereco { display: block; margin-bottom:10px !important; line-height: 0.8em !important; }