#menu_principal > ul > li{
    padding: 7px 23px 0 24px;
}
#menu_principal{
    margin-top: -17px;
}
#codigo_busca {
    float: left;
}
#coluna_codigo {
    width: 112px;
}
.pagina_imovel #continuacao_conteudo_principal{
    width: 501px;
    margin-left: 20px;
}
.pagina_imovel .esquerda{
    width: 489px;
    height: 421px;
}
.pagina_imovel .conteudo_principal .esquerda #foto_grande{
    margin-left: -478px;
}
.pagina_imovel #divisoria_vertical{
    margin-left: -11px;
}
.pagina_imovel .titulo {
    margin-top: 0;
}
.pagina_imovel #miniaturas {
    margin: 20px 0 0 -452px !important;
    position: absolute;
}
.conteudo_principal .esquerda #seta_miniatura_anterior{
    margin-left: -473px;
}
.conteudo_principal .esquerda #seta_miniatura_proximo{
    margin-left: -45px;
}
.pagina_imovel h1{
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.pagina_imovel #codigo_imovel{
    margin-left: -223px;
}
a span{
    cursor: pointer;
}
#menu_principal ul li .submenu {
    margin: 30px 0 0 -84px;
}
.busca .extra{
    margin: 84px 0 0 -674px;
}
#busca .extra {
    margin: -1px 0 0 -2px;
}
#extra_busca{
    margin: 23px 0 0 -120px;
}