_#conteudo_principal {
    margin-top: 21px;
    min-height: 444px;
}
#continuacao_conteudo_principal{
    height: 444px;
    background-image: url("../img/fundo_imovel.png");
    width: 53%;
    float:left;
    display: block;
    position: absolute;
}
.conteudo_principal .esquerda{
    position: absolute;
}
.conteudo_principal .esquerda #foto_grande{
    margin: 27px 0 0 36px;
    width: 451px;
    height: 310px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.conteudo_principal .esquerda #foto_grande img{
    margin: 6px;
    position: absolute;
}
.conteudo_principal .esquerda #seta_miniatura_anterior{
    position: absolute;
    margin: 35px 0 0 30px;
    display: block;
    width: 16px;
    height: 29px;
    background-image: url("../img/sprite.png");
    background-position: -185px -20px;
    cursor: pointer;
}
.conteudo_principal .esquerda #seta_miniatura_proximo{
    position: absolute;
    margin: 35px 0 0 480px;
    display: block;
    width: 16px;
    height: 29px;
    background-image: url("../img/sprite.png");
    background-position: -232px -127px;
    cursor: pointer;
}
.conteudo_principal .esquerda #miniaturas {
    margin: 23px 0 0 60px;
    width: 403px;
    height: 59px;
    overflow: hidden;
}
.conteudo_principal .esquerda #miniaturas ul {
    height: 59px;
    margin-left: -21px;
}
.conteudo_principal .esquerda #miniaturas ul li{
    float: left;
    width: 83px;
    height: 57px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 21px;
    cursor: pointer;
}
.conteudo_principal .esquerda #miniaturas ul li.atual{
    border: 1px solid #C1272D;
}
.conteudo_principal .esquerda #miniaturas ul li img{
    margin: 1px;
}
#divisoria_vertical{
    position: absolute;
    margin-left: 513px;
}
#divisoria_vertical .fundo_imovel_cima1{
    width: 10px;
    height: 13px;
    display: block;
    background-image: url("../img/fundo_imovel_cima1.png");
}
#divisoria_vertical .fundo_imovel_cima2{
    width: 10px;
    height: 423px;
    display: block;
    background-image: url("../img/fundo_imovel_cima2.png");
}
#divisoria_vertical .fundo_imovel_cima3{
    width: 10px;
    height: 8px;
    display: block;
    background-image: url("../img/fundo_imovel_cima3.png");
}
.conteudo_principal .direita{
    min-height: 444px;
    margin-left: 523px;
    text-align: center;
    width: 424px;
}
.conteudo_principal .direita .arabesco{
    display: block;
    width: 183px;
    height: 28px;
    background-image: url("../img/sprite.png");
    background-position: -286px -130px;
    margin: 0 auto;
}
.conteudo_principal .direita .linha_de_fundo{
    display: block;
    width: 394px;
    height: 1px;
    background-color: #E6E6E6;
    margin: -7px auto 0 auto;
    z-index: 1;
}
.conteudo_principal .direita h1{
    color: #808080;
    font-size: 1.1em;
    background-color: #fff;
    display: block;
    position: relative;
    padding: 0 26px;
}
.conteudo_principal .direita p{
    width: 367px;
    color: #808080;
    margin: 42px auto 0 auto;
    font-size: 0.8em;
    line-height: 1.6em;
    text-align: justify;
}
.conteudo_principal .direita .lista_esquerda, .conteudo_principal .direita .lista_direita{
    width: 140px;
    color: #666;
    margin: 27px 0 0 55px;
    font-size: 0.8em;
    line-height: 1.6em;
    text-align: justify;
    float: left;
}
.conteudo_principal .direita .lista_baixo{
    clear: left;
    padding: 39px 0 0 26px;
    font-size: 0.95em;
    overflow: hidden;
}
.conteudo_principal .direita .lista_baixo>li {
    color: #333;
    background-image: url("../img/bola_vermelha.png");
    background-position: 0 5px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 31px;
    text-align: left;
    padding-left: 16px;
}
.conteudo_principal .direita .lista_baixo>li.primeiro {
    margin-left: 14px;
}
.conteudo_principal .direita .lista_baixo>li>span, .conteudo_principal .direita .lista_baixo>li>a {
    color: #666;
    display: block;
    font-size: 0.8em;
    margin-top: 4px;
}
.conteudo_principal .direita .lista_baixo>li span.mapa{
    display: block;
    width: 61px;
    height: 63px;
    background-image: url("../img/sprite.png");
    background-position: -455px -3px;
    margin-top: 12px;
}
.conteudo_principal .direita .lista_baixo nav {
    color: #999;
    width: 128px;
    margin-top: 12px;
    font-size: 0.8em;
}
.conteudo_principal .direita .lista_baixo nav li {
    width: 62px;
    float: left;
    margin-top: 13px;
}

.conteudo_principal .direita .lista_baixo .envio-email {
    display: block;
    margin-left: -20px;
}
.conteudo_principal .direita .lista_baixo .envio-email span {
	padding-top: 5px;
	display: block;
}
.conteudo_principal .direita .lista_baixo .envio-email i {
    background-image: url("../img/sprite.png");
    background-position: -691px -277px;
    display: block;
    height:24px;
    width: 24px;
    float: left;
    margin: 0px 5px 0 0;
    
}
.conteudo_principal .direita .lista_baixo .envio-email.sem-cod { margin-left:-120px; }

.conteudo_principal .direita .lista_baixo nav li a{
    text-decoration: underline;
    color: #999;
}
#codigo_imovel {
    display: block;
    width: 96px;
    height: 20px;
    padding-top: 10px;
    background-image: url("../img/sprite.png");
    background-position: -521px -3px;
    position: absolute;
    margin: -29px 0 0 -10px;
    color:#754C24;
    font-size: 0.7em;
}
#conteudo_secundario {
    background-color: #F2F2F2;
    min-height: 472px;
}
#conteudo_secundario>section{
    clear: left;
}
#busca_imovel{
    background-color: #eaeaea;
    padding-top: 40px;
    min-height: 110px;
}
#busca_imovel.pagina_imovel{
    background: none;
    padding-top: 0;
    min-height: 204px;
}
.busca form{
    margin: -15px 0 0 75px;
}
.busca span.titulo2 {
    color:#999;
    text-align: right;
    width: 103px;
    display: block;
    font-size: 0.9em;
    padding: 22px 35px 22px 0;
    border-right: 1px solid #999;
    float: left;
    margin-top: 15px;
    line-height: 1.3em;
    text-shadow: #fff 1px 1px;
}
.busca .coluna_formulario{
    float: left;
    padding-left: 35px;
}
.busca .coluna2{
    padding-left: 16px;
}
.busca .linha{
    padding-top: 10px;
}
.busca .linha2{
    margin-top: 20px;
}
.busca h3 {
    font-size: 0.7em;
    color:#666;
    text-shadow: #fff 1px 1px;
    font-weight: bold;
}
.busca select {
    position: absolute;
    display: none;
}
.busca label {
    cursor: pointer;
    background-image: url("../img/sprite.png");
    display: block;
    color:#666;
    font-size: 0.8em;
    padding: 5px 0 0 7px;
}
.busca .extra{
    position: absolute;
    margin: 8px 0 0 -14px;
}
.busca .extra label{
    background: none;
    display: inline;
    padding: 0;
    font-size: 0.7em;
}
.busca .extra .coluna{
    padding-left: 9px;
}
.busca .extra input[type=radio]{
    margin-right: 0;
}
.busca label.formatacao2{
    width: 105px;
    height: 17px;
    background-position: -205px -4px;
}
#codigo_busca {
    background-image: url("../img/sprite.png");
    display: block;
    color:#666;
    font-size: 0.8em;
    padding: 0px 0 0 7px;
    width: 105px;
    height: 22px;
    background-position: -322px -4px;
    border: 0;
}
.busca label.btn_buscar{
    margin-top: 17px;
    float: left;
    width: 93px;
    height: 47px;
    background-position: -514px -153px;
    padding: 0;
}
.busca label.btn_buscar:active{
    background-position: -514px -202px;
}
.busca label.btn_buscar input {
    background: none;
    border: 0;
    color: #fff;
    font-family: arial;
    font-size: 1.2em;
    margin: 11px 0 0 12px;
    font-weight: bold;
    cursor: pointer;
}
.busca #tipo_busca, #cidade_busca, #bairro_busca, #dormitorios_busca, #garagem_busca, #valor_de_busca, #valor_ate_busca{
    z-index: 2;
}
#resultado_imoveis_condominio{
    min-height: 498px;
}
#resultado_imoveis_obra_concluida{
    min-height: 498px;
}
#resultado_busca_interna{
    min-height: 498px;
}
#resultado_busca_interna2{
    min-height: 401px;
}
#resultado_busca_interna>p{
    padding-left: 86px;
    color: #333;
    font-weight: bold;
}
.titulo{
    height: 59px;
    font-size: 1.9em;
    margin: 5px 0 38px 0;
    text-shadow: #fff 1px 1px;
    height: 59px;
}
.titulo.com_fundo{
    background-image: url("../img/fundo_h2.png");
    background-position: bottom;
    background-repeat: repeat-x;
}
.titulo .linha_h2{
    background-image: url("../img/linha_horizontal_interna.png");
    height: 3px;
    display: block;
    margin: 31px 0 0 328px;
    position: absolute;
}
.titulo .linha_h2.tamanho1{
    width: 636px;
}
.titulo .linha_h2.tamanho2{
    width: 604px;
    margin-left: 359px;
}
.titulo .linha_h2.tamanho3{
    width: 655px;
    margin-left: 308px;
}
.titulo .linha_h2.tamanho4{
    width: 569px;
    margin-left: 377px;
}
.titulo .linha_h2.tamanho5{
    width: 733px;
    margin-left: 215px;
}
.titulo .linha_h2.tamanho6{
    width: 584px;
    margin-left: 360px;
}
.titulo .linha_h2.tamanho7{
    width: 650px;
    margin-left: 298px;
}
.titulo .linha_h2.tamanho8{
    width: 547px;
    margin-left: 413px;
}
.titulo .pagina {
    display: block;
}
.titulo .texto{
    color: #C1272D;
    float: left;
    margin: 13px 0 0 88px;
    font-weight: normal;
    position: absolute;
}
.fundo_f2f2f2{
    background-color: #f2f2f2 !important;
}
.fundo_e6e6e6{
    background-color: #E6E6E6 !important;
}
footer{
    margin-top: -10px;
}

/*para iphone e ipod e ipad*/
.iphone.safari #divisoria_vertical, .ipod.safari #divisoria_vertical, .ipad.safari #divisoria_vertical{
    margin-left: 503px;
}
.iphone.safari #codigo_imovel, .ipod.safari #codigo_imovel, .ipad.safari #codigo_imovel {
    margin: -50px 0 0 -20px;
}