<div id="container_interno" class="recuo1">
    <h1>Home</h1>
    <div class="recuo2">
        <a href="<?php echo $this->webroot; ?>adm/homeDestaques" title="GERENCIAR DESTAQUES" class="botao botao_gerenciar">GERENCIAR DESTAQUES</a>
        <a href="<?php echo $this->webroot; ?>adm/homeBanners" title="GERENCIAR BANNERS" class="botao botao_gerenciar">GERENCIAR BANNERS</a>
        <a href="<?php echo $this->webroot; ?>adm/homeIndicadores" title="GERENCIAR INDICADORES" class="botao botao_gerenciar">GERENCIAR INDICADORES</a>
    </div>
</div>