<div id="container_interno" class="recuo1">
<?php

foreach($enderecos as $endereco) {
    $id = $endereco["enderecos"]["id"];
    echo "<h1>Foto - " . $endereco["enderecos"]["endereco"] . "</h1>";
    echo "<form action='javascript:lojas_foto_editar(" . $id. ")' class='recuo2 espaco_superior' method='post'>";
    echo "<div class='linha_formulario'>";
    echo "<input type='file' name='data[Foto][arquivo]' id='foto_file" . $id ."'/>";
    echo "<span class='obs'>Imagem deve estar na extensão .jpg e com tamanho inferior a 1 Mb.</span>";
    echo "</div>";
    echo "<div class='linha_formulario'>";
    echo "<a href='javascript:lojas_foto_editar(" . $id . ")' title='ALTERAR FOTO' class='botao botao_foto alinha_esquerda'>";
    echo "ALTERAR FOTO";
    echo "</a>";
    echo "</div>";
    echo "</form>";
    echo "<br class='clear' />";
}

?>
</div>