<div id="container_interno" class="recuo1">
    <h1>Lojas</h1>
    <div class="recuo2">
        <a href="<?php echo $this->webroot; ?>adm/lojasTextoPagina" title="GERENCIAR TEXTO DA PÁGINA" class="botao botao_gerenciar">TEXTO DA PÁGINA</a>
        <a href="<?php echo $this->webroot; ?>adm/lojasEnderecos" title="GERENCIAR ENDEREÇOS" class="botao botao_gerenciar">GERENCIAR ENDEREÇOS</a>
        <a href="<?php echo $this->webroot; ?>adm/lojasFotos" title="GERENCIAR FOTOS" class="botao botao_gerenciar">GERENCIAR FOTOS</a>
        <a href="<?php echo $this->webroot; ?>adm/lojasCorretores" title="GERENCIAR CORRETORES" class="botao botao_gerenciar">GERENCIAR CORRETORES</a>
    </div>
</div>