body{
    font-family: "arial";
}
.clear {
    clear: left;
}
#container {
    width: 970px;
    min-height: 590px;
    border: 1px solid #000;
    margin: 20px auto;
    padding: 20px;
}
h1 {
    font-size: 1.4em;
    padding-top: 20px;
}
.login input[type=text], .login input[type=password]{
    width: 180px !important;
}
input[type=checkbox]{
    margin-top: 19px;
}
input[type=text], input[type=password]{
    width: 350px;
    height: 25px;
    margin: 11px 0 0 0;
}
select {
    height: 25px;
    margin: 11px 0 0 0;
}
textarea {
    width: 350px;
    height: 128px;
    margin: 11px 0 0 0;
}
input[type=submit]{
    height: 25px;
    margin: 11px 0 0 0;
}
label {
    position: absolute;
    cursor: text;
    margin: 19px 0 0 3px;
    font-size: 0.8em;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #555;
}
#acesso {
    position: absolute;
    font-size: 0.8em;
    margin: -58px 0 0 183px;
}
#sair {
    position: absolute;
    margin: -64px 0 0 910px;
    font-size: 0.9em;
}
#menu{
    border-bottom: 1px solid #000;
    height: 21px;
    width: 845px;
    padding-top: 30px;
}
#menu ul li{
    float: left;
    padding: 5px 10px 2px 10px;
    margin-left: 7px;
    border: 1px solid #000;
    font-size: 0.8em;
}
.botao{
    border: 1px solid #000;
    padding: 10px;
    display: block;
    font-size: 0.9em;
}
#container_interno{
    font-size: 0.9em;
}
#container_interno h1 { clear:both; }
.recuo1 {
    padding-left: 10px;
}
.recuo2 {
    padding-left: 20px;
}
.alinha_esquerda{
    float: left;
}
.botao_cadastrar{
    width: 79px;
    margin: 10px 0;
}
.botao_criar_news{
    width: 84px;
    margin: 10px 0;
}
.botao_gerenciar{
    width: 174px;
    margin-top: 10px;
}
.botao_editar{
    width: 79px;
    margin: 10px 0;
}
.botao_atualizar{
    margin: 10px 0;
}
.botao_foto{
    width: 111px;
    margin: 10px 0;
}
.botao_salvar_foto{
    width: 89px;
    margin: 10px 0;
}
.botao_salvar{
    margin: 10px 0;
}
.botao_cadastrar_fotos{
    margin: 10px 0 10px 10px;
    width: 215px;
}
.botao_remover_todos {
    width: 157px;
    margin: 10px 0;
}
table {
    clear: left;
    text-align: center;
}
table th{
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
}
table td {
    padding: 5px;
    border: 1px solid #000;
    vertical-align: middle;
}
table .listra td{
    background-color: #F2F2F2;
}
table .red td{
    background-color: red;
}
.espaco_superior{
    margin-top: 11px;
}
.obs{
    font-size: 0.7em;
    color: #FF0000;
}
#modal_contagem{
    margin: -510px 0 0 146px;
    font-size: 0.7em;
    color: #FF0000;
}

.envio-news .ordem { width:30px !important; }
.botao_cancelar { margin:10px; }