.coluna1, .coluna2{
    float: left;
}
section.fundo_e6e6e6{
    overflow: hidden;
    min-height: 657px;
}
.logo_cinza{
    display: block;
    width: 150px;
    height: 55px;
    background-image: url("../img/sprite.png");
    background-position: -741px -93px;
    margin: 0 0 32px 32px;
}
.linha_horizontal{
    background-color: #ccc;
    width: 224px;
    height: 1px;
    display: block;
}
h2{
    width: 178px;
    color:#B3B3B3;
    font-weight: bold;
    margin: 38px 0 0 26px;
}
h2 .imagem{
    display: block;
    width: 62px;
    height: 55px;
    background-image: url("../img/sprite.png");
    background-position: -743px -153px;
    float: right;
}
h2 .pequeno{
    font-size: 0.8em;
}
h2 .grande{
    font-size: 1.95em;
}
/* .interruptor{ */
/*     display: block; */
/*     width: 40px; */
/*     height: 40px; */
/*     background-image: url("../img/sprite.png"); */
/*     background-position: -666px -102px; */
/*     cursor: pointer; */
/*     float: right; */
/*     margin: -33px 182px 0 0; */
/* } */
/* .interruptor.aberto{ */
/*     background-position: -615px -102px; */
/* } */
.imobiliaria {
    margin: 57px 0 0 26px;
    color:#808080;
    position: relative;
}
.imobiliaria h2{
    text-shadow: #fff 1px 1px;
    font-weight: bold;
    font-size: 0.8em;
}
.imobiliaria p{
    font-size: 0.7em;
    line-height: 1.3em;
}
.imobiliaria ul{
/*     display: none; */
    margin-left: -30px
}
.imobiliaria ul li{
    line-height: 1.2em;
    font-size: 0.9em;
    padding-top: 28px;
    background-image: url("../img/bola_azul.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 0 30px;
}
#formulario_contato {
    width: 370px;
    height: 424px;
    display: block;
    border: 1px solid #ccc;
    background-color: #F2F2F2;
}
#formulario_contato .linha_formulario{
    padding-left: 39px;
}
#formulario_contato .linha_formulario.espaco{
    padding-top: 15px;
}
#formulario_contato label{
    display: block;
    color:#666;
    padding: 10px 0 5px 0;
    font-size: 0.9em;
}
#formulario_contato input[type=text], #formulario_contato textarea{
    border: 1px solid #CCCBCB;
}
#formulario_contato input[type=text]{
    width: 295px;
    height: 28px;
}
#formulario_contato textarea{
    width: 295px;
    height: 93px;
}
#formulario_contato label.btn_contato{
    width: 112px;
    height: 49px;
    background-position: -619px -151px;
    padding: 0;
    cursor: pointer;
    background-image: url("../img/sprite.png");
    margin: 20px 29px 0 0;
    float: right;
}
#formulario_contato label.btn_contato:active{
    background-position: -619px -206px;
}
#formulario_contato label.btn_contato input {
    background: none;
    border: 0;
    color: #fff;
    font-family: arial;
    font-size: 1.2em;
    margin: 11px 0 0 23px;
    font-weight: bold;
    cursor: pointer;
}
.titulo_formulario{
    color: #B3B3B3;
    font-size: 0.7em;
    text-align: center;
    padding-bottom: 26px;
}
#conteudo_contato{
    padding-bottom: 20px;
}
#conteudo_contato .coluna1, #conteudo_contato .coluna2{
    margin-top: 112px;
}
#conteudo_contato .coluna1{
    padding-left: 144px;
    width: 361px;
}