#conteudo_lojas .pagina{
    width: 720px;
}
#conteudo_lojas .topo{
    padding-top: 47px;
    height: 113px;
    width: 720px;
}
#arabesco {
    width: 320px;
    height: 49px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -4px -263px;
    position: absolute;
    margin-left: 200px;
}
#linha_esquerda{
    position: absolute;
    display: block;
    width: 190px;
    height: 4px;
    background-image: url("../img/linha_horizontal2.png");
    margin-top: 64px;
}
#linha_direita{
    position: absolute;
    display: block;
    width: 190px;
    height: 4px;
    background-image: url("../img/linha_horizontal2.png");
    margin: 64px 0 0 535px;
}
#conteudo_lojas p{
    color: #999;
    font-size: 0.8em;
    line-height: 2em;
    padding-bottom: 29px;
    text-align: justify;
    text-shadow: #fff 1px 1px;
}
#conteudo_lojas .imovel p{
    font-size: 0.7em;
    text-align: right;
}
#imovel_canela{
    margin-left: 90px;
}