#tipo_select, #cidade_select{
    z-index: 1;
}
section.fundo_e6e6e6{
    overflow: hidden;
    min-height: 578px;
}
#conteudo_contato .topo{
    padding-top: 47px;
    height: 113px;
    width: 720px;
    margin: 0 auto;
}
#arabesco {
    width: 320px;
    height: 49px;
    display: block;
    background-image: url("../img/sprite.png");
    background-position: -4px -263px;
    margin: 0 auto;
    position: relative;
}
#linha_esquerda{
    position: absolute;
    display: block;
    width: 190px;
    height: 4px;
    background-image: url("../img/linha_horizontal2.png");
    margin-top: 64px;
}
#linha_direita{
    position: absolute;
    display: block;
    width: 190px;
    height: 4px;
    background-image: url("../img/linha_horizontal2.png");
    margin: 64px 0 0 535px;
}
#formulario_contato label{
    color:#666;
}
#formulario_contato input[type=text]{
    border: 1px solid #CCCBCB;
    height: 28px;
}
#formulario_contato label.btn_contato{
    display: block;
    width: 112px !important;
    height: 49px;
    background-position: -619px -151px;
    padding: 0 !important;
    cursor: pointer;
    background-image: url("../img/sprite.png");
    top:2px;
    left: 218px;
    text-align: left !important;
    position: relative;
}
#formulario_contato label.btn_contato:active{
    background-position: -619px -206px;
}
#formulario_contato label.btn_contato input {
    background: none;
    border: 0;
    color: #fff;
    font-family: arial;
    font-size: 1.2em;
    margin: 11px 0 0 18px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
.titulo_formulario{
    color: #B3B3B3;
    font-size: 0.8em;
    text-align: center;
    padding: 11px 0 26px 0;
}
.linha_formulario{
    clear: left;
    height: 47px;
}
#formulario_contato .linha_formulario>label{
    width: 200px;
    float: left;
    display: block;
    text-align: right;
    padding: 8px 18px 0 0;
}
#formulario_contato .linha_formulario>.busca{
    float: left;
    padding-top: 5px;
}
#formulario_contato .tamanho1{
    width: 636px;
}
#formulario_contato .tamanho2{
    width: 63px;
}
#formulario_contato .tamanho3{
    width: 132px;
}
#formulario_contato .tamanho4{
    width: 298px;
}