<html>
    <head>
        <style>
            body { font-family:arial, verdana, sans-serif; color:#84867b; background:#ffffff;}
            p { font-size:12px; margin:10px 0 0 0; }
        </style>
    </head>
    <body>
        <h3><strong>Nome: </strong><?php echo $nome; ?></h3>
        <h3><strong>E-mail: </strong><?php echo $email; ?></h3>
        <h3><strong>Telefone: </strong><?php echo $telefone; ?></h3>
        <h3><strong>Imóvel: </strong><?php echo $imovel; ?></h3>
        <h3><strong>Mensagem: </strong></h3>
        <p><?php echo $mensagem; ?></p>
    </body>
</html>