<script>
    var fotos_atualizar = new Array();
    <?php $i=-1; foreach($fotos as $f){ $i++; ?>
    fotos_atualizar[<?php echo $i; ?>]="<?php echo $f["tb_imoveis_fotos"]["f_id_foto"]; ?>";
    <?php } ?>
    for (var i in fotos_atualizar){
            
        $.ajax({
            url: urlRoot+"adm/atualizarFoto/"+fotos_atualizar[i]
            , type: "POST"
            , success: function(data){
                var qtd_fotos = parseInt($("#modal_contagem span").html());
                $("#modal_contagem span").html(qtd_fotos-1);
            }
        });
            
    }
        
</script>
<div id="modal_contagem">
    Faltam <span><?php echo count($fotos); ?></span> imagens para serem atualizadas.
</div>