<script>
$(document).ready(function(){
    <?php if($indicadores[0]["indicadores"]["linha1"]!=""){ ?>
    $("label[for=linha1_text]").hide();
    <?php } ?>
    <?php if($indicadores[0]["indicadores"]["linha2"]!=""){ ?>
    $("label[for=linha2_text]").hide();
    <?php } ?>
});
</script>
<div id="container_interno" class="recuo1">
    <h1>Home - Indicadores</h1>
    <form action="javascript:indicadores_atualizar()" class="recuo2" method="post">
        <div class="linha_formulario">
            <label for="linha1_text">título</label>
            <input type="text" name="data[Indicadores][linha1]" id="linha1_text" maxlength="255" value="<?php echo $indicadores[0]["indicadores"]["linha1"]; ?>" class="edit" />
        </div>
        <div class="linha_formulario">
            <label for="linha2_text">título</label>
            <input type="text" name="data[Indicadores][linha2]" id="linha2_text" maxlength="255" value="<?php echo $indicadores[0]["indicadores"]["linha2"]; ?>" class="edit" />
        </div>
        <div class="linha_formulario">
            <a href="javascript:indicadores_atualizar()" title="ATUALIZAR" class="botao botao_atualizar alinha_esquerda">ATUALIZAR</a>
        </div>
    </form>
</div>