<div id="container_interno" class="recuo1">
    <h1>Texto Página Lojas - Editar</h1>
    <form action="javascript:lojas_texto_atualizar()" class="recuo2" method="post">
        <div class="linha_formulario">
            <textarea name="data[Texto][texto]" id="texto_loja_textarea" cols="1" rows="1"  class="edit"><?php echo $texto[0]["textos"]["texto"]; ?></textarea>
        </div>
        <div class="linha_formulario">
            <a href="javascript:lojas_texto_atualizar()" title="SALVAR" class="botao botao_salvar alinha_esquerda">SALVAR</a>
        </div>
    </form>
</div>